@model IEnumerable<Inventar.Models.Tepih>

<h2>Inventory Items</h2>

<table id="TepisiTable" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Quantity</th>
@*            <th>QR Code</th>
*@            <th>Actions</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Quantity</td>
@*                <td>
                    <img src="@item.QRCodeUrl" alt="QR Code for @item.Name" />
                </td>*@
                <td>
                    <!-- Link to Scan QR Code view for this specific item -->
                    <a class="btn btn-secondary" href="/InventoryItem/QRCodeScanning/@item.Id">Scan QR Code</a>
                </td>
                <td>
                    <a asp-area="" asp-controller="InventoryItem" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-area="" asp-controller="InventoryItem" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" href="/InventoryItem/Create">Add New Item</a>

@section Scripts {
    <script>
        $(document).ready(function () {
            var table = $('#TepisiTable').DataTable({
                "paging": true,
                "pageLength": 10
            });
        });
    </script>
}